<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poiesis | Loja da Travessia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="/">Início</a>
        <a href="/biblioteca">Biblioteca</a>
        <a href="/atendimento">Eternizar Histórias</a>
    </nav>
    <h1>POIESIS</h1>
    <p>Prosa-poética da travessia.</p>
    <p>Onde as águas aprendem a romper.</p>
    <a href="/biblioteca">Adentrar a Coleção</a>
</body>
</html>